<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Assessment</title>
  </head>
  <body>
    <div class="container">

      <div class="row">
    <h1 style='text-align:center;'>Flashcards App</h1></div>
    <div class='row jumbotron'>
      <h2>Review</h2>

<hr class='my-4'>
    <div class="card">
      <h5 class='card-header'>{{deck_name}}</h5>
    <div class="card-body">

    <form action='/dashboard/{{user_id}}/{{deck_id}}/{{i.fc_id}}' method="post">
      <br>
    <h5 class='card-title'>{{i.front}}</h5>
    <input type='text' name='ans'/><br>
    <br>
    <label for='difficulty'>How hard was this card?</label><br>
    <input type='radio' name='difficulty' value='Easy'/> Easy<br>
    <input type='radio' name='difficulty' value='Medium'/> Medium<br>
    <input type='radio' name='difficulty' value='Hard'/> Hard<br>
    <br>
    {%if key==1%}
    <input type='submit' class='btn btn-primary' value='Submit'>
    {%else%}
    <input type='submit' class='btn btn-primary' value='Next'>
    {%endif%}


  </form>
</div>
</div>
</div>
</div>
  </body>
</html>
